:root {
    --darker-gray: #202020;
    --medium-gray: #242424;
    --light-gray: #262626;
    --light-gray_opacity25: rgb(38, 38, 38);

    --darker-white: #ebebeb;
    --medium-white: #f5f5f5;
    --light-white: #fafafa;
    --pure-white: #fff;
    --darker-primary: #E5684A;
    --medium-primary: #F06D4D;
    --light-primary: #FF7452;
    --darker-secundary: #6EC23A;
    --medium-secundary: #74CC3D;
    --light-secundary: #7AD640;
    --darker-terciary: #E836F5;
    --medium-terciary: #F238FF;
    --light-terciary: #F34DFF;
    --light-terciary: #F34DFF;
}

/* 
    PascalCase
    camelCase
    snake_case

    class-name
*/

* {
    margin: 0;
}

header {
    width: 100%;
    height: 88px;
    background-color: var(--light-gray_opacity25);
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.center {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav{
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: center;
}

div.main-image {
    height: 88px;
    display: flex;
    align-items: center;
}

.title-image {
    height: 63px;
}

.navbar-main-container{
    margin-left: 15px;
}

div.nav-items-container{
    width: 75px;
    height: 60px;
    text-align: center;
    align-items: center;
    margin: auto;
}

.nav-containers{
    border-left: 2px solid var(--darker-white);
    border-right: 2px solid var(--darker-white);
    height: 58px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    width: fit-content;
}

.nav-containers:hover{
    border-left: 2px solid var(--light-primary);
    border-right: 2px solid var(--light-primary);
}

.nav-containers:hover .nav-text{
    color: var(--light-primary);
}

.nav-containers:hover .nav-icone{
    fill: var(--light-primary);
}

svg.nav-icone{
    fill: var(--darker-white);
    width: 45px;
    height: 40px;

}

h5.nav-text{
    color: var(--darker-white);
    font-size: 18px;
}

#banner-container {
    height: 70vh;
    width: 100%;
    background-image: url(images/1°BackIMGTESTE.jpg);
    background-size: cover;
}

.title{
    color: var(--darker-primary);
    margin-top: -15vh;
    font-size: 150px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 7vh;
    text-decoration: underline var(--darker-primary) 2vh;
    text-underline-offset: 17px;

    -webkit-text-stroke: 3px var(--light-gray);

    /*NOTE: its an option*/
    /*font-weight: bolder;
    text-shadow: 15px 5px 8px var(--light-primary);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--darker-gray);*/
}

a#white{
    color: var(--light-white);
    -webkit-text-stroke: 5px var(--light-gray);
    text-decoration: underline var(--darker-primary) 2vh;
}

.sub-title{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--light-white);
    -webkit-text-stroke: 1px var(--light-gray);
    text-align: center;
}
